<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <timeline endIcon="call">
    <timeline-item *ngFor="let item of gvProvider.gvMinhaLista.ListaDeObjetos">
      <timeline-time [time]="{subtitle:'Wanderson',title:'Julio'}"></timeline-time>
      <ion-icon [name]="lcCalendarIcon"></ion-icon>
      <ion-card>
        <ion-card-header>
          Meu nome
        </ion-card-header>
        <ion-card-content>
          <span>
            <img [src]="{{gvProvider.gvHostImageResize}}{{gvProvider.gvMaxWidth}}{{gvProvider.gvParamImgFile}}{{gvProvider.gvStorage}}{{item.Artes}}" [width]="gvProvider.gvMaxWidth" [height]="gvProvider.gvMaxWidth" >
          </span>
        </ion-card-content>
      </ion-card>
    </timeline-item>
  </timeline> -->

  <flash-card *ngFor="let item of gvProvider.gvMinhaLista.ListaDeObjetos" >
    <div class="fc-front">
      <img *ngIf="item.Artes"  [src]="item.Artes" />
      <h2 text-center>{{item.Nome}}</h2>
      <h3 text-center>{{item.DtCriacao}}</h3>
      <hr />
      <p *ngIf="item.Nome" >{{item.Nome}}</p>
    </div>
    <div class="fc-back">

      <div class="pins">
         <ion-card class="pin" *ngFor="let obra of item.Obras">
          <!-- <img [src]="post.image" /> -->
          <div *ngIf="obra.Nome" class="post-description">
            <small>{{ obra.Nome }}</small>
          </div>
        </ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img *ngIf="item.Artes"  [src]="item.Artes" />
          </ion-avatar>
          <small>{{item.Nome}}</small>
          <p><small>{{item.DtCriacao}}</small></p>
        </ion-item>

      </div>

      <!-- <ion-item>
        <ion-avatar item-start>
          <img *ngIf="item.Artes"  [src]="item.Artes" />
        </ion-avatar>
        <small>{{item.Nome}}</small>
        <p><small>{{item.DtCriacao}}</small></p>
      </ion-item> -->

      <!-- <img *ngIf="item.Artes"  [src]="item.Artes" />
      <h2 text-center>{{item.Nome}}</h2>
      <h3 text-center>{{item.DtCriacao}}</h3>
      <hr />
      <p *ngIf="item.Nome" >{{item.Nome}}</p> -->
    </div>
  </flash-card>

  <ion-infinite-scroll (ionInfinite)="getUsers($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Aguarde...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
