.ios, .md {

    page-home {

        ion-item {
            width: 92%;
            margin: 4%;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #fff;
            opacity: 0.7;
            font-size: 0.9em;
            transition: 0.2s linear;
        }

    }

}

page-emqualqerdia {

  .pins {
      column-count: 1;
  }


  .pin {
      display: inline-block;
  }

  .card {
      margin-top: 10px;
  }

  ion-avatar {
      margin: 0 !important;
  }

  .item ion-avatar img {
      width: 9vw ;
      height: 9vw;
  }

  .post-description {
      padding: 8px;
      border-bottom: 1px solid #eee;
  }

  // Media queries
  @media (min-width: 480px) {
      .pins {
          column-count: 1;
      }
      .item ion-avatar img {
          width:  7vw !important;
          height: 7vw !important;
      }
  }

  @media (min-width: 640px) {
      .pins {
          column-count: 1;
      }
      .item ion-avatar img {
          width:  5vw !important;
          height: 5vw !important;
          margin: 6px;
      }
  }

  page-sliding-item {
    img {
      max-width: 10.6rem !important;
      max-height: 10.6rem !important;
    }
  }

}
