<ion-header>
  <ion-navbar>
    <ion-title>
      <!-- Em Qualquer Dia -->
      Todos os Lançamentos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="pins">
    <ion-card class="pin" *ngFor="let item of gvProvider.gvColetaneas.ListaDeObjetos; let i = index;let lst = last;">
      <ion-item>
        <h2>{{i+1}}</h2>
        <button (click)="addTocaColetanea(i)" clear>
          <p><small></small></p>
          <p><small></small></p>
        <div style="position: absolute;">
          <!-- <img *ngIf="item.Artes" src="{{imgPlay}}"> -->
          <img src="{{gvProvider.gvStorage}}Storage/capa/play-button-icon-png-280x280.png">
        </div>
        <div>
          <img *ngIf="item.Artes"  [src]="item.Artes" />
        </div>
        <div>
          <p><small>{{item.Nome}}</small></p>
        </div>
        </button>
      </ion-item>


      <div #SempreMostra>
            <ion-list>
              <!-- <ion-item-sliding *ngFor="let obra of item.Obras  | slice:0:3; let x = index;let lstx = last;"> -->
              <ion-item-sliding *ngFor="let obra of item.Obras; let x = index;let lstx = last;"  [ngClass]="{active: isGroupShown(i)}">

                <ion-item *ngIf="x<3 || isGroupShown(i)">
                    <ion-thumbnail  item-start>
                      <div>
                        <div style="position: absolute;width: 100%;height: 100%;">
                          <img (click)="addTocaPreview(i,x)" *ngIf="obra.Artes" src="{{gvProvider.gvStorage}}Storage/capa/play-button-icon-png-280x280.png">
                        </div>
                        <img *ngIf="obra.Artes" src="{{imageProvider}}{{obra.Artes}}">
                         <!-- {{melog(imageProvider+obra.Artes)}} -->
                      </div>
                    </ion-thumbnail>
                    <h2>{{obra.Nome}}</h2>
                    <p>{{obra.Autores}}</p>
                </ion-item>

                <ion-item-options side="right">
                  <button icon-only><ion-icon name="download"></ion-icon></button>
                  <button icon-only><ion-icon name="pricetags"></ion-icon></button>
                  <button icon-only (click)="addToPlayList(i,x)"><ion-icon name="return-right"></ion-icon></button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
      </div>
      <div text-center>
        <button (click)="toggleGroup(i)" ion-button clear item-end>
          <div *ngIf="!isGroupShown(i) && item.Obras.length > 3">Mais</div>
          <div *ngIf="isGroupShown(i)">Menos</div>
        </button>
      </div>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="pegaMaisItens($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
