<ion-menu side="left" [content]="content" id="mLeft">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <div class="user-avatar">
                <img src="./../assets/imgs/avatar.jpeg">
              </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h2 ion-text class="no-margin bold text-white">
              Julio
            </h2>
            <span ion-text color="light">Administrador</span>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose disabled>
              <ion-icon name="contact"></ion-icon>
              Edit Profile
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Log Out
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <button menuClose detail-push ion-item *ngFor="let p of gvProvider.gvListaMenu" (click)="ExecutaConsulta(p)">
        <ion-label>{{p.Descricao}}</ion-label>
        <ion-select okText="Confirma" cancelText="Cancela" *ngIf="p.TipoMenuAppJsonDto==1" (ionChange)="onEmpSelected(lsMarcadores)"  [(ngModel)]="lsMarcadores" multiple="true">
          <ion-option menuClose *ngFor="let tag of p.Tags" [value]="tag">{{tag.NomeTag}}</ion-option>
        </ion-select>
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-menu side="right" [content]="content" id="mRight">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-list>

      <ion-card *ngIf="imgPadrao">
        <ion-thumbnail item-start>
          <img src="{{gvProvider.gvStorage}}Storage/capa/padrao.jpg">
        </ion-thumbnail>
      </ion-card>

      <ion-card *ngIf="!(imgPadrao)">
        <ion-thumbnail item-start width="50%" height="50%">
          <img src="{{ audioTrack?.art }}">
        </ion-thumbnail>
      </ion-card>

      <ion-card>
        <audio-track #audioTrack [track]="currentTrack" [autoplay]="true" (onFinish)="onTrackFinished($event)">
          <div style="display: flex; justify-content: center; height: 20px; width: 100%">
          </div>
          <audio-track-progress-bar duration progress [audioTrack]="audioTrack" style="width: 100%; margin: 0 10px"></audio-track-progress-bar>
          <div style="display: flex; justify-content: center; height: 30px; width: 100%">
            <div *ngIf="audioTrack && audioTrack.hasLoaded"><em>{{ audioTrack?.artist }} - {{ audioTrack?.title }}</em></div>
            <ion-spinner *ngIf="audioTrack && audioTrack.isLoading"></ion-spinner>
          </div>
          <div style="display: flex; justify-content: center">
            <button ion-button icon-only (click)="audioTrack.canPlay ? audioTrack.play() : next()"><ion-icon name="play"></ion-icon></button>
            <button ion-button icon-only (click)="audioTrack.pause()"><ion-icon name="pause"></ion-icon></button>
            <button ion-button icon-only (click)="next()"><ion-icon name="skip-forward"></ion-icon></button>
          </div>
        </audio-track>
        <div style="display: flex; justify-content: center; height: 10px; width: 100%">
        </div>
      </ion-card>

      <ion-list>
        <ion-list-header no-lines inset>
          <!-- Na Lista Há: -->

          <!-- <button ion-button clear item-right [disabled]="isEmptyPlayList()" (click)="SalvaPlayList()">Editar</button> -->
          <button ion-button clear item-right [disabled]="Desabilitado('ordenar')" (click)="HabilitaOrdenar()"><ion-icon name="reorder"></ion-icon></button>
          <button ion-button clear item-right [disabled]="Desabilitado('salvar')" (click)="SalvaLista()"><ion-icon name="magnet"></ion-icon></button>
          <button ion-button clear item-right [disabled]="Desabilitado('down')" (click)="DownloadLista()"><ion-icon name="download"></ion-icon></button>
          <button ion-button clear item-right [disabled]="Desabilitado('remover')" (click)="HabilitaRemover()"><ion-icon name="remove-circle"></ion-icon></button>
          <button ion-button clear item-right *ngIf="flgRemover" (click)="clear()">zerar</button>
          <ion-badge item-end>{{gvProvider.gvPlayListItens.length}}</ion-badge>
        </ion-list-header>
      </ion-list>

      <ion-item-group [reorder]="flgOrdenar" (press)="RemoveItem(i)"  (ionItemReorder)="reorderItems($event)">
        <ion-item [class.highlight]="item.Selecionado" *ngFor="let item of gvProvider.gvPlayListItens; let i = index" (click)="selectCP(i)">
          <ion-thumbnail item-start>
            <img src="{{item.Artes}}">
          </ion-thumbnail>
          <h2>{{ item.Nome }}</h2>
          <p>{{ item.Autores }}</p>
          <button *ngIf="!flgOrdenar" ion-button clear item-right  [disabled]="true"><ion-icon name="reorder"></ion-icon></button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
